%section#modulos-t.grid12
  %header
    %h2.titulo-cinta
      Lorem ipsum dolor sit amet, consectetur adipisicing elit
  .row
    %article.grid4
      .module-t
        .module-t-image.big
          = image_tag "badgets/design_big.png"
        .module-t-detail.center
          %header
            %h2.module-t-title
              Nivel Basico
          .module-t-excerpt
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, delectus, rerum, fugiat, exercitationem consequuntur pariatur numquam repellat veritatis quos omnis obcaecati facilis quisquam illo quis voluptas expedita voluptatibus animi tempora?
    %article.grid4
      .module-t
        .module-t-image.big
          = image_tag "badgets/design_big.png"
        .module-t-detail.center
          %header
            %h2.module-t-title
              Nivel Basico
          .module-t-excerpt
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, delectus, rerum, fugiat, exercitationem consequuntur pariatur numquam repellat veritatis quos omnis obcaecati facilis quisquam illo quis voluptas expedita voluptatibus animi tempora?
    %article.grid4
      .module-t
        .module-t-image.big
          = image_tag "badgets/design_big.png"
        .module-t-detail.center
          %header
            %h2.module-t-title
              Nivel Basico
          .module-t-excerpt
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, delectus, rerum, fugiat, exercitationem consequuntur pariatur numquam repellat veritatis quos omnis obcaecati facilis quisquam illo quis voluptas expedita voluptatibus animi tempora?
    %article.grid4
      .module-t
        .module-t-image.big
          = image_tag "badgets/design_big.png"
        .module-t-detail.center
          %header
            %h2.module-t-title
              Nivel Basico
          .module-t-excerpt
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, delectus, rerum, fugiat, exercitationem consequuntur pariatur numquam repellat veritatis quos omnis obcaecati facilis quisquam illo quis voluptas expedita voluptatibus animi tempora? 
    %article.grid4
      .module-t
        .module-t-image.big
          = image_tag "badgets/design_big.png"
        .module-t-detail.center
          %header
            %h2.module-t-title
              Nivel Basico
          .module-t-excerpt
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, delectus, rerum, fugiat, exercitationem consequuntur pariatur numquam repellat veritatis quos omnis obcaecati facilis quisquam illo quis voluptas expedita voluptatibus animi tempora?
    %article.grid4
      .module-t
        .module-t-image.big
          = image_tag "badgets/design_big.png"
        .module-t-detail.center
          %header
            %h2.module-t-title
              Nivel Basico
          .module-t-excerpt
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, delectus, rerum, fugiat, exercitationem consequuntur pariatur numquam repellat veritatis quos omnis obcaecati facilis quisquam illo quis voluptas expedita voluptatibus animi tempora? 
